.about-menu
	a.about-menu__item(class={active: currentUrl === '/documents'} href="documents.html") Документы
	a.about-menu__item(class={active: currentUrl === '/team'} href="team.html") Наша команда
	a.about-menu__item(class={active: currentUrl === '/clients'} href="clients.html") Наши клиенты
	a.about-menu__item(class={active: currentUrl === '/partners'} href="partners.html") Наши партнёры
	a.about-menu__item(class={active: currentUrl === '/career'} href="career.html") Карьера