.main-form
	form.main-form-wrap(action="#")
		.main-form-wrap__subtitle Остались вопросы — задавайте
		.main-form-wrap__title Свяжитесь с нами
		.general-form
			.general-itemInput.general-itemInput_33
				input.general-itemInput__input(type="text" data-required="" placeholder="Имя")
			.general-itemInput.general-itemInput_33
				input.general-itemInput__input(type="text" data-type="email" data-required="" placeholder="E-mail")
			.general-itemInput.general-itemInput_33
				input.general-itemInput__input(type="text" placeholder="Название компании")
			.general-itemInput
				input.general-itemInput__input(type="text" placeholder="Описание проекта")
			.general-bottomBlock
				button.general__btn(type="submit") Отправить заявку
				p.general-bottomBlock__text Нажимая на кнопку, вы даете согласие на обработку
					a(target="_blank" href="/privacy-policy/") персональных данных