extends ../template

block variables
	- var title = 'Типовые блоки'

block content
	.banner-block.block(style="background: linear-gradient(to right, #E6EDF4, #B8BEC3)")
		.banner-block-wrap
			.banner-block-wrap-info
				.banner-block-wrap-info__title 1С: Документооборот
				.banner-block-wrap-info__text Версия: 8 Профессиональная
				a.banner-block-wrap-info__btn(href="#") Купить
			.banner-block-wrap__img
				img(src="assets/images/banner-img.png", alt="")
	
	.tabsAndIllustratedLinks.container
		form.catalog-sort(action="#")
			span Сортировать по:
			.catalog-sort-item
				input(type="radio" name="sort" id="radio1" checked)
				label(for="radio1") Виду учета
			.catalog-sort-item
				input(type="radio" name="sort" id="radio2")
				label(for="radio2") Назначению
		.tabsAndIllustratedLinks-items
			-for(var i = 0; i < 3; i++)
				a.tabsAndIllustratedLinks-items-item(href="#")
					.tabsAndIllustratedLinks-items-item__img
						img(src="assets/images/main-way1.svg", alt="")
					.tabsAndIllustratedLinks-items-item__title Cargo Мультимодальные перевозки
				a.tabsAndIllustratedLinks-items-item(href="#")
					.tabsAndIllustratedLinks-items-item__img
						img(src="assets/images/main-way2.svg", alt="")
					.tabsAndIllustratedLinks-items-item__title Cargo Мультимодальные перевозки
				a.tabsAndIllustratedLinks-items-item(href="#")
					.tabsAndIllustratedLinks-items-item__img
						img(src="assets/images/main-way3.svg", alt="")
					.tabsAndIllustratedLinks-items-item__title Cargo Мультимодальные перевозки

	.numeratedList.container 
		.block__title Пронумерованный список
		.numeratedList-items
			-for(var i = 0; i < 6; i++)
				.numeratedList-items-item Мы любим свое дело, с радостью каждое утро идем в офис, работаем сообща, и это действительно видно по нашей работе.

	.illustratedAdvantages.container
		.block__title Здесь перечень со слайдером
		.illustratedAdvantages-items.slider
			.illustratedAdvantages-items-item
				.illustratedAdvantages-items-item__img
					img(src="assets/images/main-way1.svg", alt="")
				.illustratedAdvantages-items-item__title Первый пункт
				.illustratedAdvantages-items-item__text Подпись к пункту
			.illustratedAdvantages-items-item
				.illustratedAdvantages-items-item__img
					img(src="assets/images/main-way1.svg", alt="")
				.illustratedAdvantages-items-item__title Второй пункт
				.illustratedAdvantages-items-item__text Подпись к пункту
			.illustratedAdvantages-items-item
				.illustratedAdvantages-items-item__img
					img(src="assets/images/main-way1.svg", alt="")
				.illustratedAdvantages-items-item__title Третий пункт
				.illustratedAdvantages-items-item__text Подпись к пункту
			.illustratedAdvantages-items-item
				.illustratedAdvantages-items-item__img
					img(src="assets/images/main-way1.svg", alt="")
				.illustratedAdvantages-items-item__title Четвертый пункт
				.illustratedAdvantages-items-item__text Подпись к пункту
			.illustratedAdvantages-items-item
				.illustratedAdvantages-items-item__img
					img(src="assets/images/main-way1.svg", alt="")
				.illustratedAdvantages-items-item__title Четвертый пункт
				.illustratedAdvantages-items-item__text Подпись к пункту

	.tabs-wrap.container
		.tabsborder.tabs
			.tabsborder-navigation
				a.tabsborder-navigation__item.tabs-navigation-item.active(href="#tab1") Назначение продукта
				a.tabsborder-navigation__item.tabs-navigation-item(href="#tab2") Описание
				a.tabsborder-navigation__item.tabs-navigation-item(href="#tab3") Выбор версии
				a.tabsborder-navigation__item.tabs-navigation-item(href="#tab4") Услуги
				a.tabsborder-navigation__item.tabs-navigation-item(href="#tab5") Истории успеха
			.tabs-tab(id="tab1")
				.tabs-tab__title Назначение продукта
				p «1С:Бухгалтерия 8» — это универсальное решение для автоматизации бухгалтерского, налогового учета и подготовки отчетности в компаниях любого масштаба.
				p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
				.tabs-tab__subtitle Внедрение программы «1С:Бухгалтерия 8» позволит:
				ul 
					li облегчить работу сотрудников бухгалтерии — программа берет на себя 99% трудоемких расчетов и полностью автоматизирует учет;
					li избавить от ручного формирования первичных документов и сэкономить массу времени бухгалтеров;
					li вести учет юридических лиц с разными системами налогообложения;
			.tabs-tab(id="tab2")
				.tabs-tab__title Описание
				p «1С:Бухгалтерия 8» — это универсальное решение для автоматизации бухгалтерского, налогового учета и подготовки отчетности в компаниях любого масштаба.
				p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.tabs-tab(id="tab3")
				.tabs-tab__title Выбор версии
				p «1С:Бухгалтерия 8» — это универсальное решение для автоматизации бухгалтерского, налогового учета и подготовки отчетности в компаниях любого масштаба.
				p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.tabs-tab(id="tab4")
				.tabs-tab__title Услуги
				p «1С:Бухгалтерия 8» — это универсальное решение для автоматизации бухгалтерского, налогового учета и подготовки отчетности в компаниях любого масштаба.
				p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.tabs-tab(id="tab5")
				.tabs-tab__title Истории успеха
				p «1С:Бухгалтерия 8» — это универсальное решение для автоматизации бухгалтерского, налогового учета и подготовки отчетности в компаниях любого масштаба.
				p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».

	.priceblocks4.container
		.priceblocks4-item
			.priceblocks4-item__title Продукт
			.priceblocks4-item__text Подпись к продукту
			.priceblocks4-item__pricespan Стоимость
			.priceblocks4-item__price 60 600 руб.
			a.priceblocks4-item__btn(href="#") Купить
		.priceblocks4-item
			.priceblocks4-item__title ИТС проф
			.priceblocks4-item__text Подпись к продукту
			.priceblocks4-item__pricespan Цена продления
			.priceblocks4-item__price 60 600 руб.
			a.priceblocks4-item__btn(href="#") Заказать
		.priceblocks4-item
			.priceblocks4-item__title Продукт
			.priceblocks4-item__text Подпись к продукту
			.priceblocks4-item__pricespan Стоимость
			.priceblocks4-item__price 60 600 руб.
			a.priceblocks4-item__btn(href="#") Купить
		.priceblocks4-item
			.priceblocks4-item__title ИТС проф
			.priceblocks4-item__text Подпись к продукту
			.priceblocks4-item__pricespan Цена продления
			.priceblocks4-item__price 60 600 руб.
			a.priceblocks4-item__btn(href="#") Заказать
		 
	.dropDownlists.container
		.block__title Разворачивающиеся списки
		.dropDownlists-items
			-for(var i = 0; i < 4; i++)
				.dropDownlists-items-item
					.dropDownlists-items-item-wrap
						.dropDownlists-items-item__title 1С-Отчетность
						.dropDownlists-items-item__text Мы любим свое дело, с радостью каждое утро идем в офис, работаем сообща, и это действительно видно по нашей работе.

	.faq.container
		.block__title Вопросы и ответы
		-for(var i = 0; i < 4; i++)
			.faq-item
				.faq-item-wrap
					.faq-item__title Хотите спросить?
					.faq-item__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».

	.reviews.container
		.block__title Отзывы клиентов
		.reviews-items
			.reviews-items-item
				.reviews-items-item-wrap
					.reviews-items-item__title Отзыв от ООО “РА-Студио”
					.reviews-items-item__subtitle Подзаголовок
					.reviews-items-item__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С». «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С». «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.reviews-items-item
				.reviews-items-item-wrap
					.reviews-items-item__title Отзыв от ООО “РА-Студио”
					.reviews-items-item__subtitle Подзаголовок
					.reviews-items-item__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С». «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.reviews-items-item
				.reviews-items-item-wrap
					.reviews-items-item__title Отзыв от ООО “РА-Студио”
					.reviews-items-item__subtitle Подзаголовок
					.reviews-items-item__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С». 
		.reviews__more Показать еще

	.listWithDescription.container
		.block__title Cписок с описанием элементов
		.listWithDescription-item
			.listWithDescription-item__img
				img(src="assets/images/main-way2.svg", alt="")
			.listWithDescription-item-info
				.listWithDescription-item-info__title Заголовок
				.listWithDescription-item-info__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
		.listWithDescription-item
			.listWithDescription-item__img
				img(src="assets/images/main-way1.svg", alt="")
			.listWithDescription-item-info
				.listWithDescription-item-info__title Заголовок
				.listWithDescription-item-info__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С». «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С». «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».

	.priceblocks3.container
		.block__title Стоимости 3 элемента
		.priceblocks3-items
			.priceblocks3-item
				.priceblocks3-item__title План 1
				.priceblocks3-item-wrap
					.priceblocks3-item__point Здесь идет пункт описания
					.priceblocks3-item__point Здесь идет пункт описания
					.priceblocks3-item__point Здесь идет пункт описания
				.priceblocks3-item__pricespan Стоимость
				.priceblocks3-item__price 60 600 руб.
				a.priceblocks3-item__btn(href="#") Купить
			.priceblocks3-item
				.priceblocks3-item__title План 2
				.priceblocks3-item-wrap
					.priceblocks3-item__point Здесь идет пункт описания
					.priceblocks3-item__point Здесь идет пункт описания
					.priceblocks3-item__point Здесь идет пункт описания
				.priceblocks3-item__pricespan Стоимость
				.priceblocks3-item__price 60 600 руб.
				a.priceblocks3-item__btn(href="#") Купить
			.priceblocks3-item
				.priceblocks3-item__title План 3
				.priceblocks3-item-wrap
					.priceblocks3-item__point Здесь идет пункт описания
					.priceblocks3-item__point Здесь идет пункт описания
					.priceblocks3-item__point Здесь идет пункт описания
				.priceblocks3-item__pricespan Стоимость
				.priceblocks3-item__price 60 600 руб.
				a.priceblocks3-item__btn(href="#") Купить

	.video.container
		.block__title Видеовставка
		video(preload="metadata" poster="assets/images/video.jpg" controls="controls" width="100%" height="auto")
			source(src="https://kvsspb.ru/images/resale-video/resale-video1.mp4" type="video/mp4;")

	.listWithDescriptionCol2.container 
		.block__title Список с описанием в две колонки
		.listWithDescriptionCol2-items
			.listWithDescriptionCol2-items-item
				.listWithDescriptionCol2-items-item-top
					.listWithDescriptionCol2-items-item-top__img
						img(src="assets/images/main-way1.svg", alt="")
					.listWithDescriptionCol2-items-item-top__title Заголовок длиной до пяти слов
				.listWithDescriptionCol2-items-item-bot «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.listWithDescriptionCol2-items-item
				.listWithDescriptionCol2-items-item-top
					.listWithDescriptionCol2-items-item-top__img
						img(src="assets/images/main-way3.svg", alt="")
					.listWithDescriptionCol2-items-item-top__title Заголовок длиной до пяти слов
				.listWithDescriptionCol2-items-item-bot «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.listWithDescriptionCol2-items-item
				.listWithDescriptionCol2-items-item-top
					.listWithDescriptionCol2-items-item-top__img
						img(src="assets/images/main-way2.svg", alt="")
					.listWithDescriptionCol2-items-item-top__title Заголовок длиной до пяти слов
				.listWithDescriptionCol2-items-item-bot «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.listWithDescriptionCol2-items-item
				.listWithDescriptionCol2-items-item-top
					.listWithDescriptionCol2-items-item-top__img
						img(src="assets/images/main-way4.svg", alt="")
					.listWithDescriptionCol2-items-item-top__title Заголовок длиной до пяти слов
				.listWithDescriptionCol2-items-item-bot «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».

	.numeratedAndMarkedList.container
		.block__title Нумерованный и маркированный список
		.numeratedAndMarkedList__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
		.numeratedAndMarkedList-items
			-for(var i = 0; i < 4; i++)
				.numeratedAndMarkedList-items-item
					.numeratedAndMarkedList-items-item-wrap
						.numeratedAndMarkedList-items-item__title Заголовок достаточной длины
						ul
							li Здесь идет пункт описания достаточной длины
							li Здесь идет пункт описания достаточной длины
							li Здесь идет пункт описания достаточной длины
							li Здесь идет пункт описания достаточной длины	

	.gallery.container
		.block__title Галерея
		.gallery-items.slider
			-for(var i = 0; i < 6; i++)
				a.gallery-items-item(href="assets/images/gallery.png" data-fancybox="gallery"+i)
					.gallery-items-item__img
						img(src="assets/images/gallery.png", alt="")

	.listWithoutTitleCol3.container
		.block__title Список без заголовка в 3 колонки
		.listWithoutTitleCol3-items
			.listWithoutTitleCol3-items-item
				.listWithoutTitleCol3-items-item__img
					img(src="assets/images/main-way1.svg", alt="")
				.listWithoutTitleCol3-items-item__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия.
			.listWithoutTitleCol3-items-item
				.listWithoutTitleCol3-items-item__img
					img(src="assets/images/main-way2.svg", alt="")
				.listWithoutTitleCol3-items-item__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия.
			.listWithoutTitleCol3-items-item
				.listWithoutTitleCol3-items-item__img
					img(src="assets/images/main-way3.svg", alt="")
				.listWithoutTitleCol3-items-item__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия.
			.listWithoutTitleCol3-items-item
				.listWithoutTitleCol3-items-item__img
					img(src="assets/images/main-way4.svg", alt="")
				.listWithoutTitleCol3-items-item__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия.

	.tariffs.container
		.block__title Список тарифов
		.tariffs-items-wrap
			.tariffs-items
				.tariffs-items-row
					.tariffs-items-item
					.tariffs-items-item
						.tariffs-items-item__title План 1
						.tariffs-items-item__price 60 600 руб.
					.tariffs-items-item
						.tariffs-items-item__title План 2
						.tariffs-items-item__price 60 600 руб.
					.tariffs-items-item
						.tariffs-items-item__title План 3
						.tariffs-items-item__price 60 600 руб.
					.tariffs-items-item
						.tariffs-items-item__title План 4
						.tariffs-items-item__price 60 600 руб.
				.tariffs-items-row
					.tariffs-items-item
						.tariffs-items-item__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным.
					.tariffs-items-item 
						.tariffs-items-item__textcenter 12 характеристик
					.tariffs-items-item 
						.tariffs-items-item__textcenter 12 характеристик
					.tariffs-items-item
						.tariffs-items-item__textcenter 12 характеристик
					.tariffs-items-item
						.tariffs-items-item__textcenter 12 характеристик
				.tariffs-items-row
					.tariffs-items-item
						.tariffs-items-item__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным.
					.tariffs-items-item 
						.tariffs-items-item__textcenter 12 характеристик
					.tariffs-items-item 
						.tariffs-items-item__textcenter 12 характеристик
					.tariffs-items-item
						.tariffs-items-item__textcenter 12 характеристик
					.tariffs-items-item
						.tariffs-items-item__textcenter 12 характеристик
				.tariffs-items-row
					.tariffs-items-item
					.tariffs-items-item
						a.tariffs-items-item__btn(href="#") Купить
					.tariffs-items-item
						a.tariffs-items-item__btn(href="#") Купить
					.tariffs-items-item
						a.tariffs-items-item__btn(href="#") Купить
					.tariffs-items-item
						a.tariffs-items-item__btn(href="#") Купить

	.listWithContent.container
		.block__title Cписок с подзаголовками и контентом
		.listWithContent-item
			.listWithContent-item-top
				.listWithContent-item-top__img
					img(src="assets/images/main-way1.svg", alt="")
				.listWithContent-item-top-info
					.listWithContent-item-top-info__title Заголовок длиной до пяти слов
					.listWithContent-item-top-info__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.listWithContent-item-content
				.listWithContent-item-content__subtitle Заголовок достаточной длины
				p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
				ul
					li «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
					li «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
		.listWithContent-item
			.listWithContent-item-top
				.listWithContent-item-top__img
					img(src="assets/images/main-way2.svg", alt="")
				.listWithContent-item-top-info
					.listWithContent-item-top-info__title Заголовок длиной до пяти слов
					.listWithContent-item-top-info__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.listWithContent-item-content
				.listWithContent-item-content__subtitle Заголовок достаточной длины
				p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
				ul
					li «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
					li «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».

	.calc.container
		.block__title Калькулятор
		form.calc-block(action="")
			.calc-block-top
				.calc-block-top-col
					.calc-block-top-col__span Количество пользователей:
					.calc-block-top-col-input
						.calc-block-top-col-input__minus
							span -
						input(type="text" value="1" name="input-vol")
						.calc-block-top-col-input__plus
							span +
				.calc-block-top-col
					.calc-block-top-col__span Количество лицензий:
					.calc-block-top-col-input
						.calc-block-top-col-input__minus
							span -
						input(type="text" value="1" name="input-vol")
						.calc-block-top-col-input__plus
							span +
				.calc-block-top-col
					.calc-block-top-col__span Стоимость:
					.calc-block-top-col__price 
						span 60 600 
						span руб/мес
					a.calc-block-bot__btn(href="#") Оставить заявку
			.calc-block-bot
				.calc-block-bot__text «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
				
