extends ../template

block variables
	- var title = 'Наши клиенты'
	- var currentUrl = '/clients'

block content
	h1.title Наши клиенты
	include ../common/about-menu.pug
	.clients.container
		.clients-item
			img(src="assets/images/client1.png", alt="")
		.clients-item
			img(src="assets/images/client2.png", alt="")
		.clients-item
			img(src="assets/images/client3.png", alt="")
		.clients-item
			img(src="assets/images/client4.png", alt="")
		.clients-item
			img(src="assets/images/client5.png", alt="")
		.clients-item
			img(src="assets/images/client6.png", alt="")
		.clients-item
			img(src="assets/images/client4.png", alt="")
		.clients-item
			img(src="assets/images/client1.png", alt="")
		.clients-item
			img(src="assets/images/client5.png", alt="")
		.clients-item
			img(src="assets/images/client6.png", alt="")
		.clients-item
			img(src="assets/images/client3.png", alt="")
		.clients-item
			img(src="assets/images/client2.png", alt="")