extends ../template

block variables
	- var title = 'Контакты'

block content
	h1.title Контакты
	.contacts.container.tabs
		.contacts-info
			.contacts-info-row
				p.contacts-info-row__title Работаем в пн-пт с 9.00 до 18.00 по всей России
				a.contacts-info-row__link(href="tel:88005051503") 8 (800) 505-15-03
				a.contacts-info-row__link(href="mailto:info@itprogress.ru") info@itprogress.ru
			.contacts-info-row
				span.contacts-info-row__title Москва
				button.contacts-info-row__address.tabs-navigation-item(data-tab="#moscow") ул. Кировоградская, д. 23А, корп.1
				a.contacts-info-row__link(href="tel:84996488688") 8 (499) 648-86-88
			.contacts-info-row
				span.contacts-info-row__title Санкт-Петербург
				button.contacts-info-row__address.tabs-navigation-item(data-tab="#spb") пр. Обуховской обороны, д.112, корп. 2, лит. И, БЦ "Вант", оф. 103
				a.contacts-info-row__link(href="tel:88126600808") 8 (812) 660-08-08
		.contacts-map
			img(src="assets/images/preloader.svg" alt="")
			.contacts-map__overlay Кликните для просмотра карты
			.contacts-map-tab.tabs-tab(id="moscow")
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acececb2514c84df63aba6f9d2ebba2e35fa8c343dc4a316e6ffc8a4e1718fbab&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
			.contacts-map-tab.tabs-tab(id="spb" style="display:block")
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A805439075a7568551164259e12aba0c62208b184e7808e0fc556a6644b081fb7&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
	include ../common/form.pug