extends ../template

block variables
	- var title = 'Оплата и доставка'

block content
	h1.title Оплата и доставка
	.delivery.container
		.delivery-top.tabsborder.tabs
			.delivery-top-navigation.tabsborder-navigation
				a.delivery-top-navigation__item.tabsborder-navigation__item.tabs-navigation-item.active(href="#pay-ur") Юридическим лицам
				a.delivery-top-navigation__item.tabsborder-navigation__item.tabs-navigation-item(href="#pay-fiz") Физическим лицам
			.delivery-top-tab.tabs-tab(id="pay-ur")
				.delivery-top-tab__title Оплата
				.delivery-top-tab__subtitle По безналичному расчёту
				p • При отгрузке товара Вам предоставляются товарная накладная или акт на передачу прав и счёт-фактура.
				.delivery-top-tab__subtitle За наличный расчёт
				p • При отгрузке товара Вам предоставляются товарная накладная или акт на передачу прав, счёт-фактура, квитанция и кассовый чек. Оплата осуществляется у нас в офисе или при доставке курьером, при себе нужно иметь паспорт и доверенность или печать.
			.delivery-top-tab.tabs-tab(id="pay-fiz")
				.delivery-top-tab__title Оплата
				.delivery-top-tab__subtitle Электронным платежом
				p • Вы можете оплатить продукты электронным платежом при оформлении заказа через корзину. Прием электронных платежей осуществляется через ROBOKASSA. Доступны следующие электронные валюты: Webmoney, Яндекс.Деньги, Moneymail RUR, RBK Money RUR, EasyPay, Единый кошелек, LiqPay, WebCreds, Z-Payment.
		.delivery-main
			.delivery-main-col
				.delivery-main-col-shadow.tabsborder.tabs
					.delivery-main-col-shadow-navigation.tabsborder-navigation
						a.delivery-main-col-shadow-navigation__item.tabsborder-navigation__item.tabs-navigation-item.active(href="#tab1") Самовывоз
						a.delivery-main-col-shadow-navigation__item.tabsborder-navigation__item.tabs-navigation-item(href="#tab2") Курьером
					.delivery-main-col-shadow-tab.tabs-tab(id="tab1")
						.delivery-top-tab__title Доставка
						.delivery-top-tab__subtitle По Санкт-Петербургу
						p • Вы можете самостоятельно забрать свой заказ из нашего офиса по адресу: м. Елизаровская, пр. Обуховской обороны, д. 76, корп. 7, лит. А., БЦ «У Пирса», вход 3, офис 2411.
					.delivery-main-col-shadow-tab.tabs-tab(id="tab2")
						.delivery-top-tab__title Доставка
						.delivery-top-tab__subtitle По всей России
						p • Доставка заказа курьером осуществляется в наиболее удобное для Вас время курьерской службой Pony Express. Узнав у наших консультантов номер накладной, Вы сможете самостоятельно следить за местонахождением своего товара на сайте курьерской службы.
					.delivery-main-col-shadow-tab.tabs-tab(id="tab2")
				.delivery-main-col-shadow
					.delivery-main-col-shadow__title Наши реквизиты
					.delivery-main-col-shadow-row
						span Название:
						span ООО «АйТи Прогресс Трейд»
					.delivery-main-col-shadow-row
						span Юридический адрес:
						span 192012, г. Санкт-Петербург, пр. Обуховской Обороны, д. 112, корп., 2, лит. И, пом. 713
					.delivery-main-col-shadow-row
						span Р/с:
						span 40702810532370000120 ФИЛИАЛ "САНКТ-ПЕТЕРБУРГСКИЙ" АО "АЛЬФА-БАНК"
					.delivery-main-col-shadow-row
						span ИНН:
						span 7811593139
					.delivery-main-col-shadow-row
						span КПП:
						span 781101001
					.delivery-main-col-shadow-row
						span ОГРН:
						span 1147847364170
					.delivery-main-col-shadow-row
						span ОКПО:
						span 73404219
					.delivery-main-col-shadow-row
						span БИК:
						span 044030786
					.delivery-main-col-shadow-row
						span К/с:
						span 30101810600000000786
			.delivery-main-col
				.delivery-main-col-shadow
					.product-main-col-moreinfo
						.product-main-col-moreinfo__title Электронная версия
						ul.product-main-col-moreinfo-list
							li Лицензия высылается Вам по электронной почте. При покупке корпоративных продуктов электронная лицензия может дублироваться бумажной.
						<svg style="margin-bottom:20px;margin-top:20px" width="277" height="1" viewBox="0 0 277 1" fill="none" xmlns="http://www.w3.org/2000/svg">
							<line x1="-4.37114e-08" y1="0.5" x2="277" y2="0.499976" stroke="black" stroke-opacity="0.15"/>
						</svg>
						.product-main-col-moreinfo__title Физическая версия
						ul.product-main-col-moreinfo-list
							li Вы получаете коробочную версию программы, содержащую загрузочный диск и всю необходимую документацию.
						.product-main-col-moreinfo__bot Доставка для некоторых товаров бесплатна