extends ../template

block variables
	- var title = 'Главная'

block content
	.main
		section.main-banner
			.main-banner-wrap
				.main-banner-col
					img(src="assets/images/banner-svg.svg" alt="Программные внедрения для бизнеса")
				.main-banner-col
					h1.main-banner-col__title Программные внедрения для бизнеса
					p.main-banner-col__text Цифровая трансформация и оптимизация бизнес-процессов с помощью внедрения передовых программных продуктов
					a.main-banner-col__btn(href="#") Подробнее

		section.main-services
			.main-services-col
				h3.main-services-col__subtitle Услуги
				h2.main-services-col__title Направление работы нашей компании
				p.main-services-col__text Опыт и профессионализм наших сотрудников позволяют не только предоставить Вам развернутую консультацию по программным продуктам, но и предложить и реализовать оптимальный вариант автоматизации Вашего бизнеса.</br></br>Вы можете на нас положиться: мы профессионалы!
				a.main-services-col__btn(href="#") Подробнее
			.main-services-col
				a.main-services-col-item(href="#")
					img(src="assets/images/main-services-item1.svg" alt="Сервисы 1С")
					span Сервисы 1С
				a.main-services-col-item(href="#")
					img(src="assets/images/main-services-item2.svg" alt="Лицензии")
					span Лицензии
				a.main-services-col-item(href="#")
					img(src="assets/images/main-services-item2.svg" alt="Лицензии")
					span Лицензии
				a.main-services-col-item(href="#")
					img(src="assets/images/main-services-item4.svg" alt="Сопровождение 1С")
					span Сопровождение 1С

		section.main-about
			.main-about-wrap
				.main-about-wrap-col
					img(src="assets/images/main-about-svg.svg" alt="")
				.main-about-wrap-col
					h3.main-about-wrap-col__subtitle О компании
					h2.main-about-wrap-col__title Наша цель — автоматизация бизнеса
					p.main-about-wrap-col__text Довериться кому-то в выборе решения для своего бизнеса или для дома всегда сложно: никогда не знаешь наверняка, насколько внимательно прислушаются к Вашим пожеланиям и насколько качественно реализуют все поставленные задачи.
					ul.main-about-wrap-col-list
						li.main-about-wrap-col-item
							button.main-about-wrap-col-item__title Надёжность
							p.main-about-wrap-col-item__text Мы работаем с 2007 года, и за эти годы нами многое достигнуто. Мы являемся авторизованными партнерами 1С, Microsoft, Kaspersky, Dr. Web, Adobe, Autodesk, Corel, ABBYY, а также других ведущих мировых вендоров. 
						li.main-about-wrap-col-item
							button.main-about-wrap-col-item__title Скорость
							p.main-about-wrap-col-item__text Мы работаем с 2007 года, и за эти годы нами многое достигнуто. Мы являемся авторизованными партнерами 1С, Microsoft, Kaspersky, Dr. Web, Adobe, Autodesk, Corel, ABBYY, а также других ведущих мировых вендоров. 
						li.main-about-wrap-col-item
							button.main-about-wrap-col-item__title Выгода
							p.main-about-wrap-col-item__text Мы работаем с 2007 года, и за эти годы нами многое достигнуто. Мы являемся авторизованными партнерами 1С, Microsoft, Kaspersky, Dr. Web, Adobe, Autodesk, Corel, ABBYY, а также других ведущих мировых вендоров. 

		section.main-ways
			h3.main-ways__subtitle Услуги
			h2.main-ways__title Направление работы нашей компании
			.main-ways-tabs.tabs
				.main-ways-tabs-navigation-wrap
					ul.main-ways-tabs-navigation
						li
							button.main-ways-tabs-navigation__item.tabs-navigation-item.active(data-tab="#tab1") Сопровождение 1С
						li
							button.main-ways-tabs-navigation__item.tabs-navigation-item(data-tab="#tab2") Сервисы 1С
						li
							button.main-ways-tabs-navigation__item.tabs-navigation-item(data-tab="#tab3") Лицензии
				.main-ways-tabs-tab.tabs-tab(id="tab1")
					ul.main-ways-tabs-tab-wrap
						li.main-ways-tabs-tab-item
							.main-ways-tabs-tab-item-wrap
								img(src="assets/images/main-way1.svg" alt="")
								h4.main-ways-tabs-tab-item__title Регламентированный учет
								a.main-ways-tabs-tab-item__link(href="#") 1С:Бухгалтерия 8
								a.main-ways-tabs-tab-item__link(href="#") 1С:Зарплата и управление персоналом 8
						li.main-ways-tabs-tab-item
							.main-ways-tabs-tab-item-wrap
								img(src="assets/images/main-way2.svg" alt="")
								h4.main-ways-tabs-tab-item__title Торговый и складской учет 
								a.main-ways-tabs-tab-item__link(href="#") 1С:Управление торговлей 8
								a.main-ways-tabs-tab-item__link(href="#") 1С:Предприятие 8. CRM
								a.main-ways-tabs-tab-item__link(href="#") 1С:Розница 8
						li.main-ways-tabs-tab-item
							.main-ways-tabs-tab-item-wrap
								img(src="assets/images/main-way3.svg" alt="")
								h4.main-ways-tabs-tab-item__title Управленческий учет
								a.main-ways-tabs-tab-item__link(href="#") 1С:Управление нашей фирмой 8
								a.main-ways-tabs-tab-item__link(href="#") 1С:Документооборот 8
								a.main-ways-tabs-tab-item__link(href="#") 1С:Предприятие 8. Управляющий
								a.main-ways-tabs-tab-item__link(href="#") 1С:Договорчики 8
						li.main-ways-tabs-tab-item
							a.main-ways-tabs-tab-item-more(href="#")
								.main-ways-tabs-tab-item-more__circle
								span.main-ways-tabs-tab-item-more__text Все направления
				.main-ways-tabs-tab.tabs-tab(id="tab2")
					ul.main-ways-tabs-tab-wrap
						li.main-ways-tabs-tab-item
							.main-ways-tabs-tab-item-wrap
								img(src="assets/images/main-way2.svg" alt="")
								h4.main-ways-tabs-tab-item__title Торговый и складской учет 
								a.main-ways-tabs-tab-item__link(href="#") 1С:Управление торговлей 8
								a.main-ways-tabs-tab-item__link(href="#") 1С:Предприятие 8. CRM
								a.main-ways-tabs-tab-item__link(href="#") 1С:Розница 8
						li.main-ways-tabs-tab-item
							.main-ways-tabs-tab-item-wrap
								img(src="assets/images/main-way3.svg" alt="")
								h4.main-ways-tabs-tab-item__title Управленческий учет
								a.main-ways-tabs-tab-item__link(href="#") 1С:Управление нашей фирмой 8
								a.main-ways-tabs-tab-item__link(href="#") 1С:Документооборот 8
								a.main-ways-tabs-tab-item__link(href="#") 1С:Предприятие 8. Управляющий
								a.main-ways-tabs-tab-item__link(href="#") 1С:Договорчики 8
						li.main-ways-tabs-tab-item
							a.main-ways-tabs-tab-item-more(href="#")
								.main-ways-tabs-tab-item-more__circle
								span.main-ways-tabs-tab-item-more__text Все направления
				.main-ways-tabs-tab.tabs-tab(id="tab3")
					ul.main-ways-tabs-tab-wrap
						li.main-ways-tabs-tab-item
							.main-ways-tabs-tab-item-wrap
								img(src="assets/images/main-way3.svg" alt="")
								h4.main-ways-tabs-tab-item__title Управленческий учет
								a.main-ways-tabs-tab-item__link(href="#") 1С:Управление нашей фирмой 8
								a.main-ways-tabs-tab-item__link(href="#") 1С:Документооборот 8
								a.main-ways-tabs-tab-item__link(href="#") 1С:Предприятие 8. Управляющий
								a.main-ways-tabs-tab-item__link(href="#") 1С:Договорчики 8
						li.main-ways-tabs-tab-item
							a.main-ways-tabs-tab-item-more(href="#")
								.main-ways-tabs-tab-item-more__circle
								span.main-ways-tabs-tab-item-more__text Все направления

		section.main-clients
			h3.main-clients__subtitle Клиенты
			h2.main-clients__title Клиенты нашей компании
			ul.main-clients-items
				li.main-clients-items-item
					img(src="assets/images/client1.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client2.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client3.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client4.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client5.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client6.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client4.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client1.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client5.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client6.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client3.png" alt="")
				li.main-clients-items-item
					img(src="assets/images/client2.png" alt="")

		include ../common/form.pug
