extends ../template

block variables
	- var title = 'Главная'

block content
	.main
		.main-banner
			.main-banner-wrap
				.main-banner-col
					img(src="assets/images/banner-svg.svg", alt="")
				.main-banner-col
					h1.main-banner-col__title Программные внедрения для бизнеса
					.main-banner-col__text Цифровая трансформация и оптимизация бизнес-процессов с помощью внедрения передовых программных продуктов
					a.main-banner-col__btn(href="#") Подробнее
		
		.main-services
			.main-services-col
				.main-services-col__subtitle Услуги
				.main-services-col__title Направление работы нашей компании
				.main-services-col__text Опыт и профессионализм наших сотрудников позволяют не только предоставить Вам развернутую консультацию по программным продуктам, но и предложить и реализовать оптимальный вариант автоматизации Вашего бизнеса.</br></br>Вы можете на нас положиться: мы профессионалы!
				a.main-services-col__btn(href="#") Все услуги
			.main-services-col
				a.main-services-col-item(href="#")
					img(src="assets/images/main-services-item1.svg", alt="")
					span Сервисы 1С
				a.main-services-col-item(href="#")
					img(src="assets/images/main-services-item2.svg", alt="")
					span Лицензии
				a.main-services-col-item(href="#")
					img(src="assets/images/main-services-item2.svg", alt="")
					span Лицензии
				a.main-services-col-item(href="#")
					img(src="assets/images/main-services-item4.svg", alt="")
					span Сопровождение 1С

		.main-about
			.main-about-wrap
				.main-about-wrap-col
					img(src="assets/images/main-about-svg.svg", alt="")
				.main-about-wrap-col
					.main-about-wrap-col__subtitle О компании
					.main-about-wrap-col__title Наша цель — автоматизация бизнеса
					.main-about-wrap-col__text Довериться кому-то в выборе решения для своего бизнеса или для дома всегда сложно: никогда не знаешь наверняка, насколько внимательно прислушаются к Вашим пожеланиям и насколько качественно реализуют все поставленные задачи.
					.main-about-wrap-col-item
						.main-about-wrap-col-item__title Надёжность
						.main-about-wrap-col-item__text Мы работаем с 2007 года, и за эти годы нами многое достигнуто. Мы являемся авторизованными партнерами 1С, Microsoft, Kaspersky, Dr. Web, Adobe, Autodesk, Corel, ABBYY, а также других ведущих мировых вендоров. 
					.main-about-wrap-col-item
						.main-about-wrap-col-item__title Скорость
						.main-about-wrap-col-item__text Мы работаем с 2007 года, и за эти годы нами многое достигнуто. Мы являемся авторизованными партнерами 1С, Microsoft, Kaspersky, Dr. Web, Adobe, Autodesk, Corel, ABBYY, а также других ведущих мировых вендоров. 
					.main-about-wrap-col-item
						.main-about-wrap-col-item__title Выгода
						.main-about-wrap-col-item__text Мы работаем с 2007 года, и за эти годы нами многое достигнуто. Мы являемся авторизованными партнерами 1С, Microsoft, Kaspersky, Dr. Web, Adobe, Autodesk, Corel, ABBYY, а также других ведущих мировых вендоров. 

		.main-ways
			.main-ways__subtitle Услуги
			.main-ways__title Направление работы нашей компании
			.main-ways-tabs
				.main-ways-tabs-navigation
					a.main-ways-tabs-navigation__item.active(href="#tab1") Сопровождение 1С
					a.main-ways-tabs-navigation__item(href="#tab2") Сервисы 1С
					a.main-ways-tabs-navigation__item(href="#tab3") Лицензии
				.main-ways-tabs-tab(id="tab1")
					.main-ways-tabs-tab-item
						img(src="assets/images/main-way1.svg", alt="")
						.main-ways-tabs-tab-item__title Регламентированный учет
						a.main-ways-tabs-tab-item__link(href="#") 1С:Бухгалтерия 8
						a.main-ways-tabs-tab-item__link(href="#") 1С:Зарплата и управление персоналом 8
					.main-ways-tabs-tab-item
						img(src="assets/images/main-way2.svg", alt="")
						.main-ways-tabs-tab-item__title Торговый и складской учет 
						a.main-ways-tabs-tab-item__link(href="#") 1С:Управление торговлей 8
						a.main-ways-tabs-tab-item__link(href="#") 1С:Предприятие 8. CRM
						a.main-ways-tabs-tab-item__link(href="#") 1С:Розница 8
					.main-ways-tabs-tab-item
						img(src="assets/images/main-way3.svg", alt="")
						.main-ways-tabs-tab-item__title Управленческий учет
						a.main-ways-tabs-tab-item__link(href="#") 1С:Управление нашей фирмой 8
						a.main-ways-tabs-tab-item__link(href="#") 1С:Документооборот 8
						a.main-ways-tabs-tab-item__link(href="#") 1С:Предприятие 8. Управляющий
						a.main-ways-tabs-tab-item__link(href="#") 1С:Договорчики 8
					.main-ways-tabs-tab-item
						a.main-ways-tabs-tab-item-more(href="#")
							.main-ways-tabs-tab-item-more__circle
							.main-ways-tabs-tab-item-more__text Все направления
				.main-ways-tabs-tab(id="tab2")
					.main-ways-tabs-tab-item
						img(src="assets/images/main-way2.svg", alt="")
						.main-ways-tabs-tab-item__title Торговый и складской учет 
						a.main-ways-tabs-tab-item__link(href="#") 1С:Управление торговлей 8
						a.main-ways-tabs-tab-item__link(href="#") 1С:Предприятие 8. CRM
						a.main-ways-tabs-tab-item__link(href="#") 1С:Розница 8
					.main-ways-tabs-tab-item
						img(src="assets/images/main-way3.svg", alt="")
						.main-ways-tabs-tab-item__title Управленческий учет
						a.main-ways-tabs-tab-item__link(href="#") 1С:Управление нашей фирмой 8
						a.main-ways-tabs-tab-item__link(href="#") 1С:Документооборот 8
						a.main-ways-tabs-tab-item__link(href="#") 1С:Предприятие 8. Управляющий
						a.main-ways-tabs-tab-item__link(href="#") 1С:Договорчики 8
					.main-ways-tabs-tab-item
						a.main-ways-tabs-tab-item-more(href="#")
							.main-ways-tabs-tab-item-more__circle
							.main-ways-tabs-tab-item-more__text Все направления
				.main-ways-tabs-tab(id="tab3")
					.main-ways-tabs-tab-item
						img(src="assets/images/main-way3.svg", alt="")
						.main-ways-tabs-tab-item__title Управленческий учет
						a.main-ways-tabs-tab-item__link(href="#") 1С:Управление нашей фирмой 8
						a.main-ways-tabs-tab-item__link(href="#") 1С:Документооборот 8
						a.main-ways-tabs-tab-item__link(href="#") 1С:Предприятие 8. Управляющий
						a.main-ways-tabs-tab-item__link(href="#") 1С:Договорчики 8
					.main-ways-tabs-tab-item
						a.main-ways-tabs-tab-item-more(href="#")
							.main-ways-tabs-tab-item-more__circle
							.main-ways-tabs-tab-item-more__text Все направления

		.main-clients
			.main-clients__subtitle Клиенты
			.main-clients__title Клиенты нашей компании
			.main-clients-items
				.main-clients-items-item
					img(src="assets/images/client1.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client2.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client3.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client4.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client5.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client6.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client4.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client1.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client5.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client6.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client3.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client2.png", alt="")

		include ../common/form.pug
		