extends ../template

block variables
	- var title = 'Наши партнёры'
	- var currentUrl = '/partners'

block content
	h1.title Наши партнёры
	include ../common/about-menu.pug
	.partners.container
		.partners-item
			img(src="assets/images/partners1.png", alt="")
		.partners-item
			img(src="assets/images/partners2.png", alt="")
		.partners-item
			img(src="assets/images/partners3.png", alt="")
		.partners-item
			img(src="assets/images/partners4.png", alt="")
		.partners-item
			img(src="assets/images/partners5.png", alt="")
		.partners-item
			img(src="assets/images/partners5.png", alt="")
		.partners-item
			img(src="assets/images/partners4.png", alt="")
		.partners-item
			img(src="assets/images/partners1.png", alt="")
		.partners-item
			img(src="assets/images/partners2.png", alt="")
		.partners-item
			img(src="assets/images/partners3.png", alt="")
		.partners-item
			img(src="assets/images/partners3.png", alt="")
		.partners-item
			img(src="assets/images/partners5.png", alt="")