extends ../template

block variables
	- var title = 'Наши партнёры'
	- var currentUrl = '/partners'

block content
	h1.title Наши партнёры
	include ../common/about-menu.pug
	ul.partners.container
		li.partners-item
			img(src="assets/images/partners1.png" alt="")
		li.partners-item
			img(src="assets/images/partners2.png" alt="")
		li.partners-item
			img(src="assets/images/partners3.png" alt="")
		li.partners-item
			img(src="assets/images/partners4.png" alt="")
		li.partners-item
			img(src="assets/images/partners5.png" alt="")
		li.partners-item
			img(src="assets/images/partners5.png" alt="")
		li.partners-item
			img(src="assets/images/partners4.png" alt="")
		li.partners-item
			img(src="assets/images/partners1.png" alt="")
		li.partners-item
			img(src="assets/images/partners2.png" alt="")
		li.partners-item
			img(src="assets/images/partners3.png" alt="")
		li.partners-item
			img(src="assets/images/partners3.png" alt="")
		li.partners-item
			img(src="assets/images/partners5.png" alt="")