extends ../template

block variables
	- var title = 'Продукт'

block content
	.product.container
		.product-top
			.product-top-img
				img(src="assets/images/product.png" alt="1С: Документооборот")
			.product-top-info
				h1.product-top-info__title 1С: Документооборот
				p.product-top-info__text Полный контроль над всей документацией. «1С:Документооборот» — это современная система для управления документами, бизнес-процессами и взаимодействием сотрудников.
				.product-top-info-btns
					.product-top-info-btns-col 
						a.product-top-info-btns-col__buy(href="#") Купить
						span.product-top-info-btns-col__price 36 000 ₽
					.product-top-info-btns-col 
						a.product-top-info-btns-col__rent(href="#") Арендовать
						.product-top-info-btns-col__rentprice
							span от 1000 ₽/мес
							span за 1 пользователя
					.product-top-info-btns-col
						a.product-top-info-btns-col__demo(href="#") Заказать демо-доступ
						span.product-top-info-btns-col__demoprice Бесплатно
		.product-main
			.product-main-col.tabsborder.tabs
				ul.product-main-col-navigation.tabsborder-navigation
					li
						button.product-main-col-navigation__item.tabsborder-navigation__item.tabs-navigation-item.active(data-tab="#tab1") Назначение продукта
					li
						button.product-main-col-navigation__item.tabsborder-navigation__item.tabs-navigation-item(data-tab="#tab2") Описание
					li
						button.product-main-col-navigation__item.tabsborder-navigation__item.tabs-navigation-item(data-tab="#tab3") Выбор версии
					li
						button.product-main-col-navigation__item.tabsborder-navigation__item.tabs-navigation-item(data-tab="#tab4") Услуги
					li
						button.product-main-col-navigation__item.tabsborder-navigation__item.tabs-navigation-item(data-tab="#tab5") Истории успеха
				.product-main-col-tab.tabs-tab(id="tab1")
					h2.product-main-col-tab__title Назначение продукта
					p «1С:Бухгалтерия 8» — это универсальное решение для автоматизации бухгалтерского, налогового учета и подготовки отчетности в компаниях любого масштаба.
					p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
					.product-main-col-tab__subtitle Внедрение программы «1С:Бухгалтерия 8» позволит:
					ul
						li облегчить работу сотрудников бухгалтерии — программа берет на себя 99% трудоемких расчетов и полностью автоматизирует учет;
						li избавить от ручного формирования первичных документов и сэкономить массу времени бухгалтеров;
						li вести учет юридических лиц с разными системами налогообложения;
						li исключить ошибки в отчетности благодаря проверке данных и автозаполнению полей в отчетности;
						li вести работу в строгом соответствии с требованиями законодательства;
						li анализировать деятельность компании и многое другое!
					.product-main-col-tab__subtitle Кому подойдет «1С:Бухгалтерия 8»?
					p «1С:Бухгалтерия 8» — это универсальная программа. К какой бы сфере не принадлежала ваша компания: оптовая, розничная или комиссионная торговля, услуги, производство, строительство — вы можете вести учет в системе «1С:Бухгалтерия 8».
					p Масштаб компании также не имеет значения. «1С:Бухгалтерия предприятия» с успехом используется как ИП, так и многопрофильными холдингами.
				.product-main-col-tab.tabs-tab(id="tab2")
					h2.product-main-col-tab__title Описание
					p «1С:Бухгалтерия 8» — это универсальное решение для автоматизации бухгалтерского, налогового учета и подготовки отчетности в компаниях любого масштаба.
					p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
				.product-main-col-tab.tabs-tab(id="tab3")
					h2.product-main-col-tab__title Выбор версии
					p «1С:Бухгалтерия 8» — это универсальное решение для автоматизации бухгалтерского, налогового учета и подготовки отчетности в компаниях любого масштаба.
					p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
				.product-main-col-tab.tabs-tab(id="tab4")
					h2.product-main-col-tab__title Услуги
					p «1С:Бухгалтерия 8» — это универсальное решение для автоматизации бухгалтерского, налогового учета и подготовки отчетности в компаниях любого масштаба.
					p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
				.product-main-col-tab.tabs-tab(id="tab5")
					h2.product-main-col-tab__title Истории успеха
					p «1С:Бухгалтерия 8» — это универсальное решение для автоматизации бухгалтерского, налогового учета и подготовки отчетности в компаниях любого масштаба.
					p «1С:Бухгалтерия 8» позволяет в комплексе решать все задачи, стоящие перед бухгалтерией предприятия, и является самым востребованным на российском рынке продуктом линейки «1С».
			.product-main-col
				.product-main-col-moreinfo
					h3.product-main-col-moreinfo__title Бесплатно при покупке *
					ul.product-main-col-moreinfo-list
						li Доставка и установка
						li Обновления через интернет
						li Линия консультаций 24/7
						li Доступ к 1С:Отчетность
					p.product-main-col-moreinfo__bot * В зависимости от выбранной версии

