extends ../template

block variables
	- var title = 'Страница поиска'

block content
	h1.title Результаты поиска “1C”
	.search.container
		.search-main
			.search-main-col
				ul.search-list
					li.search-list-item
						a.search-item(href="#")
							h3.search-item__category О компании
							h2.search-item__title Вакансии
							p.search-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa vero voluptatibus sequi illo repellendus, totam natus minus assumenda officiis sed dignissimos adipisci eius ut, eos, quasi nesciunt vel a est?
					li.search-list-item
						a.search-item(href="#")
							h3.search-item__category 10 советов разработчику 1С
							h2.search-item__title 10 советов разработчику 1С
							p.search-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis inventore aut quis, error impedit at dolorem voluptas soluta sequi repellat!
		.career-bot
			span Не нашли, что искали? Напишите нам.
			a.career-bot__btn(href="mailto:info@itprogress.ru") Написать на info@itprogress.ru
				<svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.5303 6.53033C14.8232 6.23744 14.8232 5.76256 14.5303 5.46967L9.75736 0.696699C9.46447 0.403806 8.98959 0.403806 8.6967 0.696699C8.40381 0.989592 8.40381 1.46447 8.6967 1.75736L12.9393 6L8.6967 10.2426C8.40381 10.5355 8.40381 11.0104 8.6967 11.3033C8.98959 11.5962 9.46447 11.5962 9.75736 11.3033L14.5303 6.53033ZM0 6.75H14V5.25H0V6.75Z" fill="#E31E27"/>
				</svg>
