extends ../template

block variables
	- var title = 'Наша команда'
	- var currentUrl = '/team'

block content
	h1.title Наша команда
	include ../common/about-menu.pug
	.team.container
		p.team__text Предоставим Вам развернутую консультацию по программным продуктам, предложим и реализуем оптимальный вариант автоматизации Вашего бизнеса.
		ul.team-items
			-for(var i = 0; i < 5; i++)
				li.team-items-item
					.team-items-item-img
						img(src="assets/images/team-item.png" alt="")
					p.team-items-item__title Евгений
					p.team-items-item__text Менеджер по работе с корпоративными клиентами
		button.team__more Показать еще
