extends ../template

block variables
	- var title = 'Вакансия'

block content
	h1.title Project manager, middle
	.vacancy.container
		.vacancy-main
			.vacancy-main-col
				h2.vacancy-main-col__subtitle Чем предстоит заниматься?
				ul
					li ведение проектной документации;
					li управление проектной командой;
					li бюджетирование проекта: понимание стоимости выполнения отдельного вида работ, соблюдать KPI, оценка стоимости работ внешних специалистов/студий;
					li реализация проекта: контроль исполнения проекта по календарному плану, взаимодействие с исполнителями и подрядчиками, контроль платежей и рабочих часов, контроль маржинальности проекта;
					li запуск проекта в опытную эксплуатацию: контроль качества верстки (адаптивность, кроссбраузерность, мобильная версия, соответствия дизайн макетам), простановка кодов аналитики, организация тестирования функционала сайта, скорости работы сайта, модулей, передача в эксплуатацию;
					li взаимодействие с Заказчиком по всем вопросам организации работ по проекту, в т.ч. определение объема работ по проекту;
					li ежемесячный сбор и анализ статистики.
				h2.vacancy-main-col__subtitle Что потребуется?
				ul
					li опыт управления веб-разработкой;
					li опыт координирования работы сотрудников отдела разработки (Дизайнеры, верстальщики, проектировщики, программисты и тд.);
					li понимание всех этапов и вех проекта;
					li знание методологий управления проектами;
					li понимание и применение Agile в работе;
			.vacancy-main-col
				.product-main-col-moreinfo
					.product-main-col-moreinfo__title Менеджмент
					ul.product-main-col-moreinfo-list
						li У нас есть сильный дизайн-директор с крутой командой дизайн-лидов и дизайнеров, собственная frontend-разработка, поток интересных и сложных проектов. Твоя задача – собрать команду и координировать их работу.
		.career-bot
			span Если не нашли подходящую вакансию, пишите нам.
			a.career-bot__btn(href="mailto:info@itprogress.ru") Написать на info@itprogress.ru
				<svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.5303 6.53033C14.8232 6.23744 14.8232 5.76256 14.5303 5.46967L9.75736 0.696699C9.46447 0.403806 8.98959 0.403806 8.6967 0.696699C8.40381 0.989592 8.40381 1.46447 8.6967 1.75736L12.9393 6L8.6967 10.2426C8.40381 10.5355 8.40381 11.0104 8.6967 11.3033C8.98959 11.5962 9.46447 11.5962 9.75736 11.3033L14.5303 6.53033ZM0 6.75H14V5.25H0V6.75Z" fill="#E31E27"/>
				</svg>
