.clients{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 60px;
	margin-top: 40px!important;
	&-item{
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			max-width: 100%;
		}
	}
}

@include w1024{
	.clients{
		grid-template-columns: repeat(3, 1fr);
	}
}

@include w480{
	.clients{
		grid-template-columns: repeat(2, 1fr);
	}
}