.documents{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px 30px;
	&-item{
		padding: 40px 20px;
		background: #FFFFFF;
		box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		&-wrap{
			max-height: 100%;
			overflow: hidden;
		}
		&-img{
			margin-bottom: 40px;
			height: 142px;
			img{
				max-height: 100%;
				margin: 0 auto;
			}
		}
		&__title{
			@include small-title; 
			margin-bottom: 13px;
		}
		&__link{
			@include link;
			color: var(--subzero);
			opacity: 0.75;
			margin-bottom: 5px;
		}
	}
}

@include w1024{
	.documents{
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		&-item{
			padding: 32px 20px;
			&__title{
				@include small-title18
			}
			&__link{
				margin-bottom: 10px;
			}
		}
	}
}

@include w480{
	.documents{
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
		&-item{
			padding: 20px;
			&__link{
				@include link14
			}
		}
	}
}