@keyframes transform{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}
@keyframes transform2 {
  0%{border-radius: 42% 58% 60% 40% / 32% 54% 46% 68%}
  20%{border-radius: 59% 41% 36% 64% / 32% 64% 36% 68%}
  40%{border-radius: 48% 52% 52% 48% / 54% 53% 47% 46%}
  60%{border-radius: 42% 58% 51% 49% / 63% 64% 36% 37%}
  80%{border-radius: 32% 68% 33% 67% / 63% 35% 65% 37%}
  100%{border-radius: 34% 66% 52% 48% / 34% 53% 47% 66%}
}
.main{
	&-banner{
		height: calc(100vh - 84px);
		position: relative;
		background: url('../images/main-banner.png') bottom no-repeat;
		background-size: cover;
		&:after{
			content: '';
			position:absolute;
			z-index:2;
			top: 25%;
			right: 5%;
			width: 100px;
			height: 110px;
			background: #8EAEFF;
			animation: 
				transform2 10s linear infinite alternate,
				/*movement 40s linear infinite alternate,*/
		}
		&-wrap{
			display: flex;
			align-items: center;
			height: 100%;
			max-width: 1300px;
			margin: 0 auto;
			position: relative;
			&:before{
				content: '';
				position:absolute;
				z-index:2;
				top: 7%;
				left: 0%;
				width: 100px;
				height: 110px;
				background: #8EAEFF;
				opacity: 0.7;	
				animation: 
					transform 10s linear infinite alternate,
					/*movement 40s linear infinite alternate,*/
			}
		}
		&-col{
			width: 50%;
			&:first-child{
				margin-right: 50px;
			}
			&__title{
				@include big-title;
				color: var(--have-rights);
				margin-bottom: 30px;
				margin-top: -170px;
				max-width: 477px;
			}
			&__text{
				@include text;
				color: var(--have-rights);
				margin-bottom: 40px;
				max-width: 380px;
			}
			&__btn{
				@include button-text;
				width: 188px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				background: var(--burgundi);
				color: var(--have-rights);
				transition: .3s;
				@media screen and (min-width:1200px){
					&:hover{
						background: #E94B52;
					}
					&:active{
						background: var(--burgundi);
					}
				}
			}
		}
	}

	&-services{
		max-width: 1160px;
		padding: 0 20px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 40px;
		padding-bottom: 100px;
		&-col{
			&__subtitle{
				@include subtitle;
				color: var(--subzero);
				margin-bottom: 10px;
			}
			&__title{
				@include big-title;
				margin-bottom: 40px; 
				max-width: 416px;
			}
			&__text{
				@include text;
				color: var(--norilsk);
				margin-bottom: 80px;
				max-width: 463px;
			}
			&__btn{
				width: 188px;
				height: 50px;
				background: var(--burgundi);
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				@include button-text;
				color: var(--have-rights);
				transition: .3s;
				position: relative;
				&:after{
					content: '';
					width: 14px;
					height: 10px;
					background: url('../images/arrow.svg') center no-repeat;
					margin-left: 25px;
					margin-top: 2px;
				}
				@media screen and (min-width:1200px){
					&:hover{
						opacity: 0.8;
					}
					&:active{
						opacity: 1;
					}
				}
			}
			&-item{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background: #FFFFFF;
				box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
				border-radius: 10px;
				img{
					margin-bottom: 20px;
				}
				span{
					@include button-text;
					color: var(--subzero);
				}
				&:nth-child(2n){
					transform: translateY(-60px);
				}
			}
			&:last-child{
				display: grid;
				grid-template-columns: repeat(2, 230px);
				grid-template-rows: 205px;
				grid-auto-rows: 205px;
				grid-gap: 60px;
			}
		}
	}

	&-about{
		background: rgba(0, 0, 0, 0.05);
		&-wrap{
			display: flex;
			max-width: 1160px;
			margin: 0 auto;
			padding: 80px 20px; 
			&-col{
				&:first-child{
					margin-left: -11.5%;
					padding-right: 70px;
				}
				&__subtitle{
					@include subtitle;
					color: var(--subzero);
					margin-bottom: 10px;
				}
				&__title{
					@include big-title;
					margin-bottom: 40px;
				}
				&__text{
					@include text;
					color: var(--medium-gray);
					margin-bottom: 40px;
				}
				&-item{
					margin-bottom: 20px;
					&:last-child{
						margin-bottom: 0;
					}
					&__title{
						padding: 15px 20px;
						background: #E4E4E4;
						border-radius: 5px;
						@include button-text;
						cursor: pointer;
						position: relative;
						&:before{
							content: '';
							width: 8px;
							height: 8px;
							border-left: 2px solid #000000;
							border-bottom: 2px solid #000000;
							transform: rotate(-45deg);
							transition: .3s;
							position: absolute;
							right: 20px;
							top: 18px;
						}
						&.active{
							color: var(--subzero);
							&:before{
								border-left: 2px solid #00458B;
								border-bottom: 2px solid #00458B;
								transform: rotate(-225deg);
								top: 22px;
							}
						}
					}
					&__text{
						display: none;
						padding: 20px;
						padding-bottom: 0;
						@include footer-text;
						color: rgba(0, 0, 0, 0.5);
					}
				}
			}
		}
	}

	&-ways{
		max-width: 1400px;
		padding: 150px 20px 75px;
		margin: 0 auto;
		&__subtitle{
			@include subtitle;
			color: var(--subzero);
			margin-bottom: 10px;
		}
		&__title{
			@include big-title;
			margin-bottom: 40px;
			max-width: 420px;
		}
		&-tabs{
			&-navigation{
				display: flex;
				margin-bottom: 40px;
				&__item{
					background: #FFFFFF;
					box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
					border-radius: 5px;
					padding: 15px 30px;
					margin-right: 20px;
					@include button-text;
					color: var(--subzero);
					transition: .3s;
					&.active{
						background: #00458B;
						color: var(--have-rights);
					}
				}
			}
			&-tab{
				display: none;
				&:nth-child(2){
					display: block;
				}
				&-wrap{
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					grid-template-rows: 312px;
					grid-gap: 30px;
				}
				&-item{
					background: #FFFFFF;
					box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
					border-radius: 10px;
					padding: 20px;
					overflow: hidden;
					&-wrap{
						height: 100%;
						overflow: hidden;
					}
					&:last-child{
						box-shadow: none;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					& > img{
						margin-bottom: 30px;
					}
					&__title{
						padding-bottom: 13px;
						@include small-title;
						border-bottom: 1px solid rgba(0, 0, 0, 0.15);
						margin-bottom: 20px;
					}
					&__link{
						@include link;
						color: var(--subzero);
						margin-bottom: 5px;
						opacity: 0.75;
					}
					&-more{
						display: flex;
						flex-direction: column;
						align-items: center;
						&__circle{
							width: 75px;
							height: 75px;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50%;
							background: #FFFFFF;
							box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
							margin-bottom: 20px;
							&:before{
								content: '';
								width: 17px;
								height: 10px;
								display: block;
								background: url('../images/arrow2.svg') center no-repeat;
							}
						}
						&__text{
							@include text;
							color: var(--medium-gray);
						}
					}
				}
			}
		}
	}

	&-clients{
		max-width: 1400px;
		padding: 75px 20px 100px;
		margin: 0 auto;
		&__subtitle{
			@include subtitle;
			color: var(--subzero);
			margin-bottom: 10px;
		}
		&__title{
			@include big-title;
			margin-bottom: 60px;
			max-width: 413px;
		}
		&-items{
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-gap: 60px;
			&-item{
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					max-width: 100%;
				}
			}
		}
	}
}

@include w1366{
	.main{
		&-banner{
			background: url('../images/main-banner-tablet.png') bottom / cover no-repeat;
			&:after{
				top: 65%;
				right: -4%;
			}
			&-wrap{
				&:before{
					top: 30%;
					left: -5%;
				}
			}
		}
	}
}

@include w1024{
	.main{
		&-banner{
			height: auto;
			&-wrap{
				flex-direction: column-reverse;
			}
			&-col{
				width: auto;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				&:first-child{
					margin-right: 0;
					margin-top: 60px;
					margin-bottom: 70px;
					img{
						max-height: 427px;
					}
				}
				&__title{
					margin-top: 60px;
					margin-bottom: 20px;
				}
				&__text{
					max-width: 500px;
					margin-bottom: 30px;
				}
				&__btn{
					height: 40px;
				}
			}
		}
		&-services{
			padding: 100px 20px;
			&-col{
				&:first-child{
					padding-right: 60px;
				}
				&:last-child{
					grid-template-columns: repeat(2, 170px);
					grid-template-rows: 150px;
					grid-auto-rows: 150px;
					grid-gap: 30px;
				}
				&__subtitle{
					@include small-small-title;
				}
				&__title{
					@include big-title24;
				}
				&__text{
					@include text14;
					margin-bottom: 40px;
				}
				&__btn{
					width: 160px;
					height: 40px;
					&:after{
						margin-left: 10px;
					}
				}
				&-item{
					&:nth-child(2n) {
						transform: translateY(-30px);
					}
					img{
						max-height: 83px;
					}
				}
			}
		}
		&-about{
			&-wrap{
				padding: 40px;
				flex-direction: column;
				&-col{
					&:first-child{
						padding-right: 0;
						margin-left: 0;
						align-self: center;
						margin-bottom: 40px;
						img{
							max-width: 100%;
						}
					}
					&__subtitle{
						@include small-small-title;
					}
					&__title{
						@include big-title24;
					}
				}
			}
		}
		&-ways{
			padding: 100px 20px 50px;
			&__subtitle{
				@include small-small-title;
			}
			&__title{
				@include big-title24;
			}
			&-tabs{
				&-navigation{
					&__item{
						padding: 13px 20px;
						@include tab;
						height: 40px;
					}
				}
				&-tab{
					overflow-x: scroll;
					padding-bottom: 10px;
					margin-left: -20px;
					padding-left: 20px;
					width: calc(100% + 40px);
					&-wrap{
						grid-gap: 20px;
						grid-template-columns: repeat(4, 261px);
						img{
							max-height: 75px;
							margin-bottom: 30px;
						}
					}
					&-item{
						&__title{
							@include button-text;
						}
						&__link{
							@include link14;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
		&-clients{
			padding: 50px 20px 100px;
			&__subtitle{
				@include small-small-title;
			}
			&__title{
				@include big-title24;
				margin-bottom: 40px;
			}
			&-items{
				grid-template-columns: repeat(3, 1fr);
    		grid-gap: 50px;
			}
		}
	}
}

@include w480{
	.main{
		&-banner{
			background: url('../images/main-banner-mobile.png') bottom/cover no-repeat;
			&:after{
				top: 75%;
    		right: -15%;
			}
			&-wrap{
				&:before{
					top: 20%;
					left: -17%;
				}
			}
			&-col{
				&:first-child{
					margin-top: 40px;
					margin-bottom: 110px;
					img{
						max-height: 200px;
					}
				}
				&__title{
					@include big-title24;
					max-width: 280px;
					margin-top: 40px;
					margin-bottom: 0;
				}
				&__text{
					display: none;
				}
				&__btn{
					position: absolute;
					bottom: 45px;
				}
			}
		}
		&-services{
			padding: 80px 20px 170px;
			flex-direction: column;
			position: relative;
			&-col{
				&:first-child{
					padding-right: 0;
				}
				&:last-child{
					grid-template-columns: repeat(2, 1fr);
					width: 100%;
					grid-gap: 20px;
				}
				&__text{
					@include text;
					margin-bottom: 60px;
					color: rgba(0, 0, 0, 0.5);
				}
				&__btn{
					position: absolute;
					bottom: 80px;
					height: 50px;
					width: calc(100% - 40px);
				}
				&-item:nth-child(2n){
					transform: translateY(-20px);
				}
			}
		}
		&-about{
			&-wrap{
				padding: 40px 20px;
			}
		}
		&-ways{
			padding: 80px 20px 40px;
			&-tabs{
				&-navigation{
					margin-bottom: 0;
					width: max-content;
					&-wrap{
						margin-left: -20px;
						padding: 0 20px 10px;
						width: calc(100% + 40px);
						overflow-x: scroll;
						margin-bottom: 30px;
					}
					&__item{
						white-space: nowrap;
					}
				}
				&-tab{
					overflow: visible;
					margin: 0;
					width: auto;
					padding: 0;
					&-wrap{
						grid-template-columns: repeat(1, 1fr);
					}
				}
			}
		}
		&-clients{
			padding: 40px 20px 80px;
			&-items{
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 40px;
			}
		}
	}
}

@include w320{
	.main{
		&-services{
			padding: 80px 10px 170px;
		}
		&-about{
			&-wrap{
				padding: 40px 10px;
			}
		}
		&-clients{
			padding: 40px 10px 80px;
		}
	}
}