.product{
	&-top{
		background: #FFFFFF;
		box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding: 40px 20px; 
		margin-top: 55px;
		margin-bottom: 30px;
		display: flex;
		align-items: flex-start;
		&-img{
			flex: 0 0 156px;
			margin-right: 50px;
			img{
				max-width: 100%;
			}
		}
		&-info{
			&__title{
				@include big-title;
				margin-bottom: 20px;
			}
			&__text{
				@include text;
				color: rgba(0, 0, 0, 0.5);
				margin-bottom: 30px;
			}
			&-btns{
				border-top: 1px solid rgba(0, 0, 0, 0.15);
				padding-top: 40px;
				display: flex;
				&-col{
					padding: 0 50px;
					border-right: 1px solid rgba(0, 0, 0, 0.15);
					display: flex;
					align-items: center;
					&:first-child{
						padding-left: 0;
					}
					&:nth-child(2){
						flex: 1;
					}
					&:last-child{
						border: none;
					}
					&__buy{
						width: 175px;
						height: 50px;
						display: flex;
						justify-content: center;
						align-items: center;
						background: var(--burgundi);
						border-radius: 5px;
						@include button-text;
						color: var(--have-rights);
						margin-right: 20px;
						transition: .3s;
						@media screen and (min-width:1200px){
							&:hover{
								opacity: 0.8;
							}
							&:active{
								opacity: 1;
							}
						}
					}
					&__rent,
					&__demo{
						flex: 0 0 175px;
						height: 50px;
						display: flex;
						justify-content: center;
						align-items: center;
						border: 1px solid var(--burgundi);
						border-radius: 5px;
						@include button-text;
						color: var(--burgundi);
						margin-right: 20px;
						transition: .3s;;
						@media screen and (min-width:1200px){
							&:hover{
								background: rgba(227, 30, 39, 0.1);
							}
							&:active{
								background: var(--burgundi);
								color: var(--have-rights);
							}
						}
					}
					&__demo{
						flex: 0 0 214px;
					}
					&__price{
						@include medium-title;
					}
					&__rentprice{
						display: flex;
						flex-direction: column;
						span{
							white-space: nowrap;
							&:first-child{
								@include button-text;
								margin-bottom: 5px;
							}
							&:last-child{
								@include description
							}
						}
					}
					&__demoprice{
						@include button-text;
					}
				}
			}
		}
	}
	&-main{
		display: flex;
		align-items: flex-start;
		&-col{
			background: #FFFFFF;
			box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			padding: 20px;
			&:first-child{
				flex: 1;
			}
			&:last-child{
				margin-left: 30px;
				flex: 0 0 23.3%;
			}
			&-tab{
				display: none;
				padding-top: 25px;
				&:nth-child(2){
					display: block;
				}
				&__title{
					@include big-title;
					margin: 0;
					margin-bottom: 25px;
				}
				&__subtitle{
					@include small-title;
					margin-bottom: 15px;
					margin-top: 45px;
				}
				p{
					@include text;
					color: var(--norilsk);
					margin-bottom: 30px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				ul{
					list-style-type: disc;
					list-style-position: inside;
					li{
						@include text;
						color: var(--norilsk);
						margin-bottom: 20px;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
			&-moreinfo{
				&__title{
					@include small-title;
					margin-bottom: 10px;
				}
				&-list{
					li{
						@include text;
						margin-bottom: 5px;
						&:before{
							content: '';
							display: inline-block;
							width: 4px;
							height: 4px;
							border-radius: 50%;
							background: var(--burgundi);
							margin-right: 7px;
							transform: translateY(-2px);
						}
					}
				}
				&__bot{
					margin-top: 15px;
					padding-top: 20px;
					border-top: 1px solid rgba(0, 0, 0, 0.15);
					@include description;
					color: var(--norilsk); 
				}
			}
		}
	}
}

@include w1366{
	.product{
		&-top{
			&-info{
				&-btns{
					flex-wrap: wrap;
					&-col{
						width: 45%;
						&:nth-child(2){
							border-right: none;
						}
						&:last-child{
							width: 100%;
							padding: 0;
							margin-top: 40px;
						}
					}
				}
			}
		}
		&-main{
			flex-direction: column-reverse;
			align-items: stretch;
			&-col{
				&:last-child{
					flex: 0 0 100%;
					margin-left: 0;
					margin-bottom: 30px;
				}
				.product-main-col-moreinfo{
					display: flex;
					flex-wrap: wrap;
					&__title{
						width: 100%;
						margin-bottom: 15px;
					}
					&-list{
						flex: 1;
						display: flex;
						flex-wrap: wrap;
						border-right: 1px solid rgba(0, 0, 0, 0.15);
						li{
							width: 50%;
							margin-bottom: 20px;
							&:nth-last-child(1),
							&:nth-last-child(2){
								margin-bottom: 0;
							}
						}
					}
					&__bot{
						width: 140px;
						margin-left: 60px;
						margin-top: 0;
						padding-top: 0;
						border-top: none;
					}
				}
			}
		}
	}
}

@include w1024{
	.product{
		&-top{
			padding: 20px;
			margin-bottom: 20px;
			&-img{
				flex: 0 0 127px;
				margin-right: 40px;
			}
			&-info{
				&__title{
					@include medium-title;
				}
				&__text{
					margin-bottom: 20px;
					color: var(--norilsk);
				}
				&-btns{
					padding-top: 20px;
					&-col{
						padding: 0 20px;
						&__buy,
						&__rent,
						&__demo{
							height: 40px;
						}
						&__buy{
							flex: 0 0 114px;
						}
						&__rent{
							flex: 0 0 135px;
						}
						&__price{
							@include small-title;
							white-space: nowrap;
						}
						&:last-child{
							margin-top: 20px;
						}
					}
				}
			}
		}
		&-main{
			&-col{
				&:last-child{
					margin-bottom: 20px;
				}
				&-moreinfo{
					&__title{
						@include button-text;
					}
				}
				&-tab{
					padding-top: 20px;
					&__title{
						@include medium-title;
						margin-bottom: 20px;
					}
					&__subtitle{
						@include button-text;
						margin-top: 40px;
					}
					p{
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}

@include w480{
	.product{
		&-top{
			flex-direction: column;
			padding: 20px 10px;
			&-img{
				margin-right: 0;
				align-self: center;
				margin-bottom: 20px;
			}
			&-info{
				&__text{
					@include text14;
				}
				&-btns{
					padding-top: 0;
					&-col{
						width: 100%;
						padding: 20px 0;
						border-right: none;
						border-bottom: 1px solid rgba(0, 0, 0, 0.15);
						&:last-child{
							margin-top: 0;
							border-bottom: none;
							padding-top: 20px;
						}
						&__buy,
						&__rent,
						&__demo{
							flex: 0 0 133px;
							@include tab;
						}
						&__demo{
							flex: 0 0 184px;
						}
						&__rentprice span:first-child,
						&__demoprice{
							@include tab;
						}
					}
				}
			}
		}
		&-main{
			&-col{
				padding: 20px 10px;
				.product-main-col-moreinfo{
					display: block;
					&-list{
						display: block;
						border: none;
						li{
							width: 100%;
							&:nth-last-child(1),
							&:nth-last-child(2){
								margin-bottom: 20px;
							}
						}
					}
					&__bot{
						margin-left: 0;
						padding-top: 20px;
						border-top: 1px solid rgba(0, 0, 0, 0.15);
						width: 100%;
					}
				}
			}
		}
	}
}