.team{
	&__text{
		@include text;
		color: var(--norilsk);
		margin-bottom: 40px;
		max-width: 650px;
	}
	&-items{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 40px 30px;
		&-item{
			background: #FFFFFF;
			box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			padding: 40px;
			overflow: hidden;
			&-img{
				width: 198px;
				height: 198px;
				margin: 0 auto 40px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&__title{
				@include small-title;
				color: var(--subzero);
				margin-bottom: 3px;
				text-align: center;
			}
			&__text{
				@include text;
				color: var(--norilsk);
				text-align: center;
			}
		}
	}
	&__more{
		display: none;
	}
}

@include w1024{
	.team{
		&-items{
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 20px;
			&-item{
				padding: 20px;
				&-img{
					max-width: 100%;
					height: auto;
					margin-bottom: 30px;
				}
				&__title{
					@include small-title18;
				}
			}
		}
	}
}

@include w480{
	.team{
		&__text{
			@include text14;
			margin-top: 40px;
		}
		&-items{
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: 280px;
			grid-auto-rows: 280px;
			max-height: 890px;
			overflow: hidden;
			&-item{
				&-img{
					width: 148px;
				}
				&__text{
					@include text14;
				}
			}
		}
		&__more{
			display: flex;
			margin: 30px auto 0;
			width: 160px;
			height: 35px;
			justify-content: center;
			align-items: center;
			background: #FFFFFF;
			border: 1px solid rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			color: rgba(0, 0, 0, 0.25);
			@include text14;
			cursor: pointer;
		}
	}
}