.vacancy{
	&-main{
		display: flex;
		align-items: flex-start;
		&-col{
			background: #FFFFFF;
			box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			padding: 20px;
			&:first-child{
				flex: 1;
			}
			&:last-child{
				margin-left: 30px;
			 	flex: 0 0 23.3%;
			}
			&__subtitle{
				@include small-title;
				margin-bottom: 13px;
			}
			p{
				@include text;
				color: var(--norilsk);
				margin-bottom: 20px; 
				&:last-child{
					margin-bottom: 0;
				}
			}
			ul{
				list-style-type: disc;
				list-style-position: inside;
				margin-bottom: 40px;
				&:last-child{
					margin-bottom: 0;
				}
				li{
					@include text;
					color: var(--norilsk);
					margin-bottom: 20px; 
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.product-main-col-moreinfo-list{
				list-style: none;
			}
		}
	}
}

@include w1024{
	.vacancy{
		&-main{
			flex-direction: column-reverse;
			&-col{
				&:last-child{
					margin-left: 0;
					margin-bottom: 20px; 
				}
			}
		}
	}
}

@include w480{
	.vacancy{
		&-main{
			&-col{
				padding: 20px 10px;
				&__subtitle{
					@include button-text;
				}
			}
		}
	}
}