@import 'common/normalize';

html,
body{
	display: block;
	color: #000;
	margin: 0;
	font-family: 'Roboto';
	position: relative;
}
.wrapper {
  display: flex;
  min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
}
.content {
	flex: 1;
	position: relative;
	margin-top: 84px;
}
:root{
	--norilsk: rgba(0, 0, 0, 0.75);
	--gray-cardinal: rgba(0, 0, 0, 0.25);
	--have-rights: rgba(255, 255, 255, 0.95);
	--burgundi: #E31E27;
	--kanareka: #F7AC24;
	--subzero: #00458B;
	--thief: #000000;
	--hulk: #219653;
	--medium-gray: rgba(0, 0, 0, 0.5);
}
@mixin super-big-title {
	font-family: 'Stolzl';
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
};
@mixin big-title {
	font-family: 'Stolzl';
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
};
@mixin medium-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 125%;
};
@mixin small-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
};
@mixin subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
};
@mixin text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
};
@mixin button-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
};
@mixin link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	text-decoration-line: underline;
};
@mixin tab {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
};
@mixin footer-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
};
@mixin description {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
};
@mixin small-small-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
};
@mixin text14 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
};
@mixin big-title24 {
	font-family: 'Stolzl';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
};
@mixin footer-small {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
};
@mixin tab-small {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
};
@mixin btn-320 {
	font-family: 'Stolzl';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
};
.title{
	padding-bottom: 40px;
	border-bottom  : 1px solid rgba(0, 0, 0, 0.15);
	max-width: 1360px;
	margin: 75px auto 0;
	@include super-big-title;
}

@import 'common/adaptive';
@import 'common/fonts';
@import 'common/header';
@import 'common/footer';
@import 'common/form';
@import 'pages/index';
@import 'pages/catalog';
@import 'pages/product';
@import 'pages/contacts';
@import 'pages/delivery';
